.footbar
  .fill
    .container
      %p
        %span= "Copyright © 2015 Global Automation Developmen Team"
        %br
        %span= "Please email Smart.Huang@activenetwork.com for any help or bugs."