.sidebar
  %input#hidden-item{:type => "hidden"}
  %ul.menu
    - even = true
    - Project.where(:monitor_flag => true).order("dashboard_name ASC").each do |project|
      - if even
        - even = false
        %li{:name => project.dashboard_name}
          = link_to project.dashboard_name, "/automation_progresses/#{project.id}", :remote => true
      - else
        - even = true
        %li.odd{:name => project.dashboard_name}
          = link_to project.dashboard_name, "/automation_progresses/#{project.id}", :remote => true
