%p#notice= notice

= link_to 'Edit', edit_admin_project_automation_driver_config_path(@project, @automation_driver_config), :class => 'btn'
= link_to 'Back', admin_project_automation_driver_config_path(@project), :class => 'btn'
