%p#notice= notice


= link_to 'Edit', edit_admin_project_mail_notify_setting_path(@project, @mail_notify_setting), :class => 'btn'
= link_to 'Back', admin_project_mail_notify_settings_path(@project), :class => 'btn'
