= form_for [@project, @automation_script] do |f|
  -if @automation_script.errors.any?
    #error_explanation
      - @automation_script.errors.messages.each do |attr, msg|
        %span.help-inline{:id => "automation_script_#{attr}"}= msg[0]

  .actions
    = f.submit 'Save'
