= form_for [@test_plan, @test_case] do |f|
  -if @test_case.errors.any?
    #error_explanation
      - @test_case.errors.messages.each do |attr, msg|
        %span.help-inline{:id => "test_case_#{attr}"}= msg[0]

  .actions
    = f.submit 'Save'
