= form_for [@project, @test_plan] do |f|
  -if @test_plan.errors.any?
    #error_explanation
      - @test_plan.errors.messages.each do |attr, msg|
        %span.help-inline{:id => "test_plan_#{attr}"}= msg[0]

  .actions
    = f.submit 'Save'
